<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Mobile_EA_Games_Portal.Mobile_EA_Games_Portal">
	<uses-sdk />
	<application android:label="Mobile_EA_Games_Portal"></application>
</manifest>